* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main {
    display: flex;
    height: 100vh;
    border: 1px solid red;

    .imgBox {
        background-color: #B2D3D1;

        .personalImg {
            position: relative;
            top: -150px;
            left: -200px;
            width: 130%;
            border: 1px solid red;
            object-fit: cover;
        }
    }

    .containBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 250px 50px 150px 50px;

        .h2Box {
            h2 {
                font-size: 4rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .h3Box {
            h3 {
                font-size: 3rem;
            }

            P {
                font-size: 1.5rem;
            }
        }


        .qrCodeBox {
            border: 1px solid red;
            width: 50%;
            display: flex;
            justify-content: center;

            li {
                width: 33%;
                text-align: center;

                span {
                    font-size: 1.2rem;
                }

                img {
                    width: 90%;
                }
            }
        }
    }
}

.questionnaireBox {
    background-color: aqua;
    height: 100vh;
}